<!DOCTYPE html>
<html>
  <head>
    <title>API - Food Deliver</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Deliver Food API</h1>
    <p>Usage: /all to get all information</p>
    <p>/foods: param {name: foodname} to get all diner by food</p>
    <p>/id: to get diner by id</p>
  </body>
</html>
